/* 播放器样式 */
#audio-player-content .flex.gap-12 {
  gap: 12px;
}

#audio-player-content .btn-refresh {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

/* 播放器禁用时的蒙版效果 */
#audio-player-content.audio-disabled-mask {
  opacity: 0.5;
}

#audio-player-content .audio-container .audio-mute-button-muted {
  color: red;
}

#audio-player-content .audio-container {
  padding: 3px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--black30a);
  border: 1px solid var(--SmartThemeBorderColor);
  border-radius: 5px;
}

#audio-player-content .audio-adjust {
  padding: 10px 0px;
  display: flex;
  gap: 10px;
  align-items: center;
}

#audio-player-content .audio-container .audio-player-button {
  position: relative;
  width: 2rem;
  height: 2rem;
}

#audio-player-content .audio-adjust .audio-player-button {
  position: relative;
  height: 1.8rem;
  width: 1.8rem;
}

#audio-player-content .audio-container > .vol {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mute-vol-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vertical-slider {
  width: 100px !important;
  height: 5px !important;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  appearance: none;
  position: absolute;
  bottom: calc(200%);
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
}

.vol {
  display: none;
}

.progress-div {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.mute-div:hover + .vol,
.vol:hover {
  display: flex;
}

#audio-player-content .audio-adjust > .playlist {
  flex-grow: 1;
}

#audio-player-content .audio-adjust > .playlist > select {
  height: 100%;
  margin: 0 !important;
}

.bgm-toggle-off {
  cursor: pointer;
  opacity: 0.5;
  filter: grayscale(0.5);
  transition: opacity 0.2s ease-in-out;
}

.bgm-toggle-off:hover {
  opacity: 1;
  filter: none;
}

.bgm-toggle-on {
  cursor: pointer;
}

.ambient-toggle-off {
  cursor: pointer;
  opacity: 0.5;
  filter: grayscale(0.5);
  transition: opacity 0.2s ease-in-out;
}

.ambient-toggle-off:hover {
  opacity: 1;
  filter: none;
}

.ambient-toggle-on {
  cursor: pointer;
}

#enable_bgm,
#enable_ambient {
  display: none !important;
}

#enable_bgm:checked ~ .bgm-toggle-on,
#enable_ambient:checked ~ .ambient-toggle-on {
  display: inline-block;
}

#enable_bgm:checked ~ .bgm-toggle-off,
#enable_ambient:checked ~ .ambient-toggle-off {
  display: none;
}

#enable_bgm:not(:checked) ~ .bgm-toggle-on,
#enable_ambient:not(:checked) ~ .ambient-toggle-on {
  display: none;
}

#enable_bgm:not(:checked) ~ .bgm-toggle-off,
#enable_ambient:not(:checked) ~ .ambient-toggle-off {
  display: inline-block;
}

.audio-url-label {
  align-items: center;
  border: 1px solid var(--SmartThemeBorderColor);
  border-radius: 10px;
  padding: 0 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}
