<div
  class="extension-content-item box-container flexFlowColumn variable-manager-entry-container"
  style="align-items: flex-start"
>
  <div
    class="variable-manager-entry-header flex-container spaceBetween alignItemsCenter width100p"
    style="cursor: pointer"
  >
    <div class="flex flexFlowColumn">
      <div class="settings-title-text">变量管理器</div>
      <div class="settings-title-description">管理和编辑所有类型的变量</div>
    </div>
    <div class="TavernHelper-button" id="open-variable-manager">打开</div>
  </div>
</div>
