<div class="extension-content-item">
  <div class="flex flexFlowColumn">
    <div class="settings-title-text">启用渲染器</div>
    <div class="settings-title-description">启用后，符合条件的代码块将被渲染</div>
  </div>
  <div class="toggle-switch">
    <input type="checkbox" id="render-enable-toggle" class="toggle-input" checked />
    <label for="render-enable-toggle" class="toggle-label">
      <span class="toggle-handle"></span>
    </label>
  </div>
</div>
<div class="divider"></div>
<div class="extension-content-item">
  <div class="flex flexFlowColumn">
    <div class="settings-title-text">启用渲染优化</div>
    <div class="settings-title-description">取消代码高亮，加速渲染</div>
  </div>
  <div class="toggle-switch">
    <input type="checkbox" id="render-optimize-toggle" class="toggle-input" checked />
    <label for="render-optimize-toggle" class="toggle-label">
      <span class="toggle-handle"></span>
    </label>
  </div>
</div>
<div class="divider"></div>
<div class="extension-content-item">
  <div class="flex flexFlowColumn">
    <div class="settings-title-text">启用代码折叠</div>
    <div class="settings-title-description">折叠所有代码块，避免正则替换成前端代码时影响阅读</div>
  </div>
  <div class="toggle-switch">
    <input type="checkbox" id="render-hide-style-toggle" class="toggle-input" checked />
    <label for="render-hide-style-toggle" class="toggle-label">
      <span class="toggle-handle"></span>
    </label>
  </div>
</div>
<div class="divider"></div>
<div class="extension-content-item">
  <div class="flex flexFlowColumn">
    <div class="settings-title-text">渲染深度</div>
    <div class="settings-title-description">设置需要渲染的楼层数，从最新楼层开始计数。为0时，将渲染所有楼层</div>
  </div>
  <div class="input-number-wrapper">
    <input type="number" id="render-depth" class="input-number" min="0" value="0" />
  </div>
</div>
<div class="divider"></div>
<div class="extension-content-item">
  <div class="flex flexFlowColumn">
    <div class="settings-title-text">启用油猴兼容模式</div>
    <div class="settings-title-description">
      启用后，将支持<a href="https://www.tampermonkey.net/documentation.html" target="_blank">油猴酒馆HTML注入脚本</a
      >的功能
    </div>
  </div>
  <div class="toggle-switch">
    <input type="checkbox" id="tampermonkey-compatibility-toggle" class="toggle-input" checked />
    <label for="tampermonkey-compatibility-toggle" class="toggle-label">
      <span class="toggle-handle"></span>
    </label>
  </div>
</div>
