<div class="script-item" id="{{id}}">
  <span class="drag-handle menu-handle">☰</span>
  <div class="script-item-name flexGrow overflow-hidden marginLeft5">{{scriptName}}</div>
  <div class="script-item-control flex-container flexnowrap alignItemsCenter">
    <div class="script-toggle">
      <i class="fa-solid fa-toggle-off"></i>
      <i class="fa-solid fa-toggle-on" style="display: none"></i>
    </div>
    <div class="script-info menu_button interactable">
      <i class="fa-solid fa-info-circle"></i>
    </div>
    <div class="edit-script menu_button interactable">
      <i class="fa-solid fa-pencil"></i>
    </div>
    <div class="{{moveTo}} script-storage-location menu_button interactable">
      <i class="fa-solid {{faIcon}}"></i>
    </div>
    <div class="export-script menu_button interactable">
      <i class="fa-solid fa-file-export"></i>
    </div>
    <div class="delete-script menu_button interactable">
      <i class="fa-solid fa-trash"></i>
    </div>
  </div>
</div>
