<div>
    <h3>
        导入到:
    </h3>
    <div class="flex-container flexFlowColumn wide100p padding10 justifyLeft">
        <label for="script-import-target-global">
            <input type="radio" name="script-import-target" id="script-import-target-global" value="global" checked />
            <span>
                全局脚本
            </span>
        </label>
        <label for="script-import-target-character">
            <input type="radio" name="script-import-target" id="script-import-target-character" value="character" />
            <span>
                局部脚本
            </span>
        </label>
    </div>
</div>