<div id="variable-editor" class="flex-container flexFlowColumn alignItemsCenter height100p overflowYAuto">
  <div class="flex flexFlowColumn alignItemsCenter">
    <h3 class="flex-container alignItemsCenter" style="margin-bottom: 0;">角色卡局部变量编辑</h3>
    <small>绑定到角色卡的变量，会随卡一同导出</small>
  </div>
  <div id="script-button-content" class="script-editor-container">
    <div class="flex-container alignItemsCenter justifyContentCenter marginBot10">
      <h4>变量列表</h4>
      <div class="menu_button interactable" id="add-variable-trigger">
        <i class="fa-solid fa-plus"></i>
      </div>
    </div>
    <div id="variable-list" class="flex-container flexFlowColumn width100p" style="gap: 20px;"></div>
  </div>
</div>
