/* 脚本库样式 */
.script-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid var(--SmartThemeBorderColor);
  border-radius: 10px;
  padding: 0 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.script-item:has(.toggle-script:not(:checked)) .script-item-name {
  text-decoration: line-through;
  filter: grayscale(0.5);
}

.title_restorable label {
  display: inline-block;
  margin: 5px 0;
  padding-right: 5px;
}

.manager-button {
  margin-left: auto;
}

.fa-refresh {
  font-size: 0.7em !important;
}

.script-library-button {
  position: relative;
}

#scriptLibraryButton {
  margin: 0 !important;
  position: relative;
}

.popup-menu {
  position: absolute;
  top: 0;
  right: 100%;
  margin-right: 5px;
  /* 可选：添加一些间距 */
  z-index: 1000;
  /* 其他样式保持不变 */
}

#scriptLibraryPopup {
  position: absolute;
  inset: 0px 77px auto auto;
  display: none;
}

#scriptLibraryPopup a {
  color: var(--SmartThemeBodyColor);
  white-space: nowrap;
}

/* 脚本编辑器 */
.script-editor-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

#script-content-textarea,
#script-info-textarea {
  white-space: pre-wrap;
  tab-size: 4;
  padding: 0.75em;
  line-height: 1.2;
  font-family: var(--monoFontFamily);
  color: var(--text-color-main);
  grid-column: 1;
  grid-row: 1;
  caret-color: var(--ac-style-color-text);
  overflow: auto;
}

#script-name-input {
  padding: 0.75em;
}

.toggle-script {
  display: none !important;
}

.toggle-script:checked + .script-toggle-off {
  display: none;
}

.toggle-script:checked + .script-toggle-off + .script-toggle-on {
  display: inline-block;
}

.toggle-script:not(:checked) + .script-toggle-off {
  display: inline-block;
}

.toggle-script:not(:checked) + .script-toggle-off + .script-toggle-on {
  display: none;
}

.button-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.default-script-repository-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  margin: 5px 0;
}

.popup:has(#script-editor) .popup-content {
  display: flex;
  flex-direction: column;
}

