<!-- debugLog.html -->
<div class="wide100p padding5 dataBankAttachments debug-log-popup-container"> <!-- Added a container class -->
    <div class="debug-log-title-bar">
        <h2 class="debug-log-title"> 错误日志 </h2>
        <small>记录本次运行时的日志，刷新网站会清空日志。</small>
        <div class="table_setting_category_container" style="display: flex; align-items: center; gap: 6px;">
            <div class="checkbox flex-container">
                <input type="checkbox" id="only_error_log" checked><span>仅展示错误信息</span>
            </div>
            <div class="menu_button menu_button_icon fa-solid fa-file-export" id="table_debug_log_export_button" title="导出表格预设">
                <a>导出以下日志</a>
            </div>
        </div>
        <hr/>
    </div>
    <div id="debugLogContainer" class="debug-log-scroll-content">

    </div>
</div>
