<div class="flex-container flexFlowColumn width100p">
  <div class="divider"></div>
  <div class="iframe_update_listener">
    <div class="flex-container spaceBetween alignItemsCenter">
      <div class="flex-container" style="margin: 10px 0">
        <div class="flex alignItemsCenter">
          <input id="iframe_update_listener_enabled" type="checkbox" style="margin: 0 5px 0 1px" /><span
            style="margin-right: 10px"
            >允许监听</span
          >
        </div>
        <div class="flex alignItemsCenter">
          <input id="iframe_update_listener_enable_echo" type="checkbox" style="margin: 0 5px 0 1px" /><span
            >启用酒馆弹窗报错</span
          >
        </div>
      </div>
      <div class="menu_button menu_button_icon interactable">
        <a
          href="https://discord.com/channels/1134557553011998840/1320081111451439166/1354125905848569958"
          target="_blank"
          ><small><i class="fa-solid fa-book" style="margin-right: 5px"></i>使用方法</small></a
        >
      </div>
    </div>
    <div class="flex-container flexFlowColumn">
      <div class="flex flexFlowColumn">
        <b class="table_setting_category_header">监听地址</b>
        <input id="iframe_update_listener_url" class="text_pole" type="url" />
      </div>
      <div class="flex flexFlowColumn">
        <b class="table_setting_category_header">刷新间隔 (毫秒)</b>
        <input id="iframe_update_listener_duration" class="text_pole" type="number" min="1" />
      </div>
    </div>
  </div>
</div>
